In [1]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('song_data.csv')

In [28]:
df2 = pd.read_excel('song_data2.xlsx')

In [31]:
df.head(3)

,ID,artist,song,album,released,genre,home_country,singer_age_at_release,entity,topic,Google_Entities_Tentative,overall_sentiment
0,1,Aerosmith,Janie's Got A Gun,Pump,1989,"Hard rock, Rock",United States,41,"[""Janie's Got a Gun"", 'Honey', 'Janie']","['Songs written', 'Aerosmith songs', 'Song rec...","Janie,honey,Dum,sound,dog day,gun,run,honey,Du...",-0.7
1,2,Aerosmith,Magic Touch,Permanent Vacation,1987,"Hard rock, Rock",United States,39,"['Shotgun', 'babe']","['Albums', 'Recorded music', 'Music media', 'T...","fire burnin,Cause,doctor,doctor,rocker,rocker,...",-0.6
2,3,Aerosmith,Taste Of India,Nine Lives,1997,Hard rock,United States,49,"['Incense', 'Sweetness of wine', 'Wine', 'Funk...","['Wine', 'Recorded music', 'Grape', 'Fermented...","kind,taste,Gotta,tongue,tip,beat,India,Taste O...",0.6

In [32]:
df2.head(3)

,ID,artist,song,album,released,genre,home_country,singer_age_at_release,entity,topic,Google_Entities,overall_sentiment
0,1,Aerosmith,Janie's Got A Gun,Pump,1989,"Hard rock, Rock",United States,41,"[{""Janie's Got a Gun"": 0.2361}, {'Honey': 0.05...","[{'Songs written': 1}, {'Aerosmith songs': 1},...","[{'Janie': 0.62619865}, {'honey': 0.10297375},...",-0.7
1,2,Aerosmith,Magic Touch,Permanent Vacation,1987,"Hard rock, Rock",United States,39,"[{'Shotgun': 0.1503}, {'babe': 0}]","[{'Albums': 0.5973}, {'Recorded music': 0.5719...","[{'fire burnin': 0.20596175}, {'Cause': 0.0714...",-0.6
2,3,Aerosmith,Taste Of India,Nine Lives,1997,Hard rock,United States,49,"[{'Incense': 0.2548}, {'Sweetness of wine': 0....","[{'Wine': 0.7881}, {'Recorded music': 0.7072},...","[{'kind': 0.3166986}, {'taste': 0.23181729}, {...",0.6

In [4]:
# *This code will be deleted if we end up only having one genre in each column

# Code for getting the unique genres (kind of a pain in the ass lol)
# genre_list = list(df['genre'].unique())
# for count, item in enumerate(genre_list):
#     if ',' in item:
#         genre_list[count] = genre_list[count].split(', ')

# full_genre_list = []
# for item in genre_list:
#     if len(item) == 2:
#         for subitem in item:
#             full_genre_list.append(subitem)
#     else:
#         full_genre_list.append(item)

# unique_genres = set(full_genre_list)

In [5]:
# Getting artist choices

In [6]:
unique_artists = list(df['artist'].unique())
print ('Artist options: '), unique_artists

Artist options:

(None,
 ['Aerosmith',
  'Bruno Mars',
  'Coldplay',
  'Doors',
  'Elton John',
  'Elvis Presley',
  'Grateful Dead',
  'Jimi Hendrix',
  'John Legend',
  'Lady Gaga',
  'Linkin Park',
  'Maroon 5',
  'Metallica',
  'Michael Jackson',
  'Nickelback',
  'Outkast',
  'Santana',
  'Stevie Wonder',
  'Weezer',
  'Wu-Tang Clan'])

In [8]:
artist_input = input('Please select your artists (or type * to select all): ')

Please select your artists (or type * to select all): *

In [10]:
if artist_input == '*':
    artist_input = unique_artists
else:
    artist_input = artist_input.split(', ')

In [11]:
# First instance of filtering the dataset
df_filtered = df.loc[df['artist'].isin(artist_input)]

In [12]:
# Getting song choices - include this?

In [13]:
# Getting album choices
unique_albums = list(df_filtered['album'].unique())
print ('Album options: '), unique_albums

Album options:

(None,
 ['Pump',
  'Permanent Vacation',
  'Nine Lives',
  'Aerosmith',
  "Honkin' on Bobo",
  'Just Push Play',
  'Draw the Line',
  'Rock in a Hard Place',
  'Sesame Street',
  'The Twighlight Saga: Breaking Dawn',
  'Doo-Wops & Hooligans',
  'Unorthodox Jukebox',
  'X&Y',
  'Coldplay',
  'Kaleidoscope',
  'Live 2003',
  'Viva la Vida or Death and All His Friends',
  'Parachutes',
  'A Head Full of Dreams',
  'Ghost Stories',
  'The Doors (Movie)',
  'L.A. Woman',
  'The Doors',
  'Too Low for Zero',
  'Madman Across the Water',
  'Leather Jackets',
  'Frankie and Johnny (Movie)',
  'Girl Happy (Movie)',
  'Girls! Girls! Girls! (Movie)',
  'Double Trouble',
  'Raised on Rock',
  'Vintage Dead',
  "Workingman's Dead",
  'Aoxomoxoa',
  'Live/Dead',
  'Electric Ladyland',
  'Band of Gypsys',
  'Are You Experienced',
  'Once Again',
  'Darkness and Light',
  'Get Lifted',
  'Wake up!',
  'Love in the Future',
  'Evolver',
  'The Fame',
  'The Fame Monster',
  'Meteora',
  'Hybrid Theory',
  'Minutes to Midnight',
  'Living Things',
  'Songs About Jane',
  'Overexposed',
  'Hands All Over',
  'St. Anger',
  'Thriller',
  'Music & Me',
  'Forever, Michael',
  'Bad',
  'Off The Wall',
  'Victory',
  'All the Right Reasons',
  'Curb',
  'No Fixed Address',
  'ATLiens',
  'Speakerboxxx/The Love Below',
  'Whild Peach',
  'Southernplayalisticadillacmuzik',
  'Santana',
  'Shango',
  'Freedom',
  'Marathon',
  'Conversation Peace',
  'Original Musiquarium',
  'Jungle Fever',
  'Songs in the Key of Life',
  'Music of My Mind',
  'Pinkerton',
  'Weezer',
  'Make Believe',
  'Maladroit',
  'Wu-Tang Forever',
  'Enter the Wu-Tang'])

In [14]:
album_input = input('Please select your albums (or type * to select all): ')

Please select your albums (or type * to select all): Once Again, Parachutes, Evolver, Ghost Stories

In [15]:
if album_input == '*':
    album_input = unique_albums
else:
    album_input = album_input.split(', ')

In [16]:
# Filtering the dataset again
df_filtered = df_filtered.loc[df_filtered['album'].isin(album_input)]

In [17]:
# Getting country choices
unique_countries = list(df_filtered['home_country'].unique())
print ('Country options: '), unique_countries

Country options:

(None, ['England', 'United States'])

In [18]:
country_input = input('Please select your countries (or type * to select all): ')

Please select your countries (or type * to select all): *

In [19]:
if country_input == '*':
    country_input = unique_countries
else:
    country_input = country_input.split(', ')

In [20]:
# Getting genre choices - will update once we decide to only use 1 per song

# unique_genres = list(df_filtered['genre'].unique())
# print ('Genre options: '), unique_genres

In [21]:
# Also leaving this commented out for now, until we fix the part above

# genre_input = input('Please select your genres (or type * to select all): ')

In [22]:
# Also leaving this commented out for now, until we fix the part above

# if genre_input == '*':
#     genre_input = unique_genres
# else:
#     genre_input = genre_input.split(', ')

In [23]:
# Add ranges for when the songs came out

In [24]:
# Add ranges for how old the singer was at release

In [25]:
# This shows the remaining data set after filtering 

df_filtered

,ID,artist,song,album,released,genre,home_country,singer_age_at_release,entity,topic,Google_Entities_Tentative,overall_sentiment
23,24,Coldplay,Yellow,Parachutes,2000,Britpop,England,23,NaN,"['Medicine', 'Health sciences', 'Medical speci...","thing,everything,stars,song,Look,things,turn,t...",0.7
26,27,Coldplay,Ink,Ghost Stories,2014,Alternative/Indie,England,37,"['Tattoo', 'Pocketknife', 'Knife']","['Tattoo', 'Tattooing', 'Body art', 'Televisio...","all,tattoo,all,life,name,pocket knife,All,Feel...",-0.3
54,55,John Legend,Heaven,Once Again,2006,R&B/soul,United States,28,"['Refrain', 'Heaven']","['Entertainment', 'Heaven', 'Refrain', 'Litera...","Things,Things,end,words,Heaven,chance,mind,thi...",0.0
58,59,John Legend,Show Me,Once Again,2006,R&B/soul,United States,28,"['Heaven', 'God', 'NME', 'Show', 'Wonder', 'Li...","['Heaven', 'Television episodes', 'American te...","things,heaven,sleep,something,talk,sign,watchi...",0.1
62,63,John Legend,"Pride, In The Name Of Love",Evolver,2008,Neo-soul,United States,30,"['Beach', 'Barbed wire', 'Memphis, Tennessee',...","['Fences', 'Walls', 'Beaches', 'Coastal geogra...","name,name,man,man,man,man,love,love,name,love,...",0.7
63,64,John Legend,Satisfaction,Evolver,2008,Neo-soul,United States,30,"['Hocus pocus (magic)', 'Refrain', 'I wonder',...","['Television episodes', 'American television e...","hocus pocus,spell,wonder wonder,satisfaction,e...",-0.3

In [26]:
print ('Average sentiment for these songs: ' + str(df_filtered['overall_sentiment'].mean()))

Average sentiment for these songs: 0.15